<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
</head>
<body>
    Hi,<br><br>
    We've received a request to reset your password.<br><br>
    If you didn't make the request,just ignore this message.Otherwise,you can reset your password using this link:<br><br>
    <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uid token %}">{{ protocol }}://127.0.0.1:8000{% url 'account:password_reset_confirm' uid token %}</a><br><br>
    Thanks,<br>
    The Coastal Team
</body>
</html>
